<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/headTag :: headTag"> </head>
<body>

	<div th:include="fragments/header" th:remove="tag"></div>

	<div id="layout">
	    <div th:include="fragments/menu" th:remove="tag"></div>

	    <div id="main" class="pure-skin-PT">
        <div class="content">
            <h2 class="content-subhead">Welcome</h2>
				Welkom op de website van Halewijn. <br/>
				<br/>
				Voor de ene mens is de wereld een zonnige plek waar altijd iets leuks gebeurt. Voor een ander is de wereld een imperfecte plek die altijd moet verbeteren. Weer een ander weet iets heel ingewikkelds in elkaar te zetten en nog een ander kan heel goed emoties van anderen aanvoelen.<br/>
				Waarom is dat zo? Iedereen ziet de wereld anders. Twee mensen kunnen hetzelfde zien maar het toch heel anders ervaren. Dat wordt verklaard door het verschil waarmee ze naar de wereld kijken. Er is niet een goed of fout perspectief, het kan alleen vollediger worden.<br/>
				Wil jij weten welk persoonlijkheidstype jij bent en wat hiervan de eigenschappen zijn? Doe dan hier de persoonlijkheidstypetest! Als u zich registreerd kunt u uw resultaten opslaan en deze altijd terug kijken om te vergelijken.
            <div class="pure-g-r">

             <h2 class="content-subhead">Persoonlijkheidstest</h2>
				<font class="shoutOut"> Take the test! </font>
				<a href="questionnaire"><input name="teststarter" class="startTest pure-button-selected pure-button pure-button " value="OK!" /></a>
            </div>
        </div>
	    <div th:include="fragments/footer" th:remove="tag"></div>
	    </div>
	</div>
</body>
</html>
