<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/headTag :: headTag"> </head>
<body>
	<!--<div th:include="fragments/header" th:remove="tag"></div>-->
	
	<div id="layout">
	    <div th:include="fragments/menu" th:remove="tag"></div>
	
	    <div id="main" class="pure-skin-PT">
	        <div class="content">
	            <h2 class="content-subhead">Login</h2>


				<form class="loginForm ">
					<input type="text" class="zocial-dribbble" placeholder="Enter your email" />
					<input type="text" placeholder="Password" />
					<input type="submit" value="Login" class="pure-button" />

				</form>
	        </div>
	        <div th:include="fragments/footer" th:remove="tag"></div>
	    </div>
	</div>
</body>
</html>
