<div id="footer">
<!-- footer van de page + js links -->
	<div class="pure-g">
		<div class="footer">
		  	<p>
				<a href="/">Home</a> |
				<a href="register">Registreren</a> |
				<a href="#">Over ons</a> |
				<a href="#">Contact</a>
				<!-- TODO: Fix links to About.html and ContactUs.html -->
			</p>
		 	<p>
		 		Copyright &copy; 2015 Qual.IT/Halewijn
		 	</p>
			<script type="text/javascript" th:src="@{js/ui.js}" src="../../js/ui.js"></script>
		</div>	<!-- einde footer -->
	</div>
</div>