<!-- D3.js radar chart code -->
<script type="text/javascript" src="js/radarChart.js"></script>

<!-- CanvasJS bar chart code -->
<script type="text/javascript" src="js/canvasjs.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    //    	window.onresize = function(){ location.reload();} //backup methode(niet gebruiken tenzij de oude techniek niet werkt, en de pagina kan refreshen.)

    var personalityTypes = /*[[${personalityTypes}]]*/ [ "Perfectionist", "Helper", "Winnaar", "Artistiekeling", "Waarnemer", "Loyalist", "Optimist", "Baas", "Bemiddelaar" ];
    var scores = /*[[${scores}]]*/ [ 0.11, 0.11, 0.11, 0.11, 0.11, 0.11, 0.11, 0.11, 0.11 ];

    //////////////////////////////////////////////////////////////
    //////////////////////// Set-Up //////////////////////////////
    //////////////////////////////////////////////////////////////
	var DivBr = document.getElementById("radarChartContainer").offsetWidth;

    var default_margin = 50;

	var margin = {top: default_margin, right: default_margin, bottom: default_margin, left: default_margin},
		width = Math.min(DivBr, window.innerWidth - 10) - margin.left - margin.right,
		height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

    //////////////////////////////////////////////////////////////
    ////////////////////////// Data //////////////////////////////
    //////////////////////////////////////////////////////////////

    var data = [
              [
                {axis: personalityTypes[0], value: scores[0] },
                {axis: personalityTypes[1], value: scores[1] },
                {axis: personalityTypes[2], value: scores[2] },
                {axis: personalityTypes[3], value: scores[3] },
                {axis: personalityTypes[4], value: scores[4] },
                {axis: personalityTypes[5], value: scores[5] },
                {axis: personalityTypes[6], value: scores[6] },
                {axis: personalityTypes[7], value: scores[7] },
                {axis: personalityTypes[8], value: scores[8] }
              ]/*,[
                {axis:"Perfectie",value:0.78},
                {axis:"Sociale houding",value:0.56},
                {axis:"Succes",value:0.45},
                {axis:"Schoonheid/bijzonderheid",value:0.14},
                {axis:"Kennis",value:0.28},
                {axis:"Zekerheid",value:0.49},
                {axis:"Plezier",value:0.81},
                {axis:"Macht",value:0.61},
                {axis:"Harmonie",value:0.58}
              ]*/
            ];
    //////////////////////////////////////////////////////////////
    //////////////////// Draw the Chart //////////////////////////
    //////////////////////////////////////////////////////////////

    var color = d3.scale.ordinal()
        .range(["#1F77B4","#E17F0E", "#EECB6D" /*"#5FB2E0","#FFD700"*/]);

    var radarChartOptions = {
      w: width,
      h: height,
      margin: margin,
      maxValue: 0.5,
      levels: 5,
      roundStrokes: true,
      color: color
    };
    //Call function to draw the Radar chart
    RadarChart(".radarChart", data, radarChartOptions);

    // END RADAR CHART CODE
    //-------------------------------------------------------------------------------------
    // BEGIN BAR CHART CODE

    var subTypes = [ "Ontkenning", "Erkenning", "Ontwikkeling" ];
    var subScores = /*[[${subTypeScores}]]*/ [ 0.5, 0.3, 0.2 ];

    window.onload = function () {
        var chart = new CanvasJS.Chart("barChartContainer",
                {
                    backgroundColor: null, //"#F5DEB3",
                    title:{
                        text: "" //"Subtypen"
                    },
                    axisY:{
                        title: "percentages" //"percent"
                    },
                    animationEnabled: true,
                    toolTip:{
                        shared: true,
                        content: "{name}: <strong>#percent%</strong>"
                    },
                    data:[
                        {
                            type: "stackedBar100",
                            showInLegend: true,
                            name: "Wel",
                            dataPoints: [
                                {y: subScores[0], label: subTypes[0] },
                                {y: subScores[1], label: subTypes[1] },
                                {y: subScores[2], label: subTypes[2] }
                            ]
                        },
                        {
                            type: "stackedBar100",
                            showInLegend: true,
                            name: "Niet",
                            dataPoints: [
                                {y: (1 - subScores[0]), label: subTypes[0] },
                                {y: (1 - subScores[1]), label: subTypes[1] },
                                {y: (1 - subScores[2]), label: subTypes[2] }
                            ]
                        }
                    ]
                });
        chart.render();
    };

    /*]]>*/
</script>