<head th:fragment="headTag">
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PersoonlijkheidstestHalewijn</title>
	<link rel="stylesheet" th:href="@{css/pure/pure-min.css}" href="../../css/pure/pure-min.css" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" th:href="@{css/pure/grids-responsive-old-ie-min.css}" href="../../css/pure/grids-responsive-old-ie-min.css" />
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" th:href="@{css/pure/grids-responsive-min.css}" href="../../css/pure/grids-responsive-min.css" />
	<!--<![endif]-->
	<link rel="stylesheet" th:href="@{css/layouts/side-menu.css}" href="../../css/layouts/side-menu.css" />
	<link rel="stylesheet" th:href="@{css/skinPT.css}" href="../../css/skinPT.css" />
	<link rel="stylesheet" th:href="@{css/style.css}" href="../../css/style.css" />
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link rel="stylesheet" th:href="@{css/externCSS.css}" href="../../css/externCSS.css" />
</head>