<head th:fragment="headTag">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PersoonlijkheidstestHalewijn</title>
	<link rel="stylesheet" th:href="@{css/pure/pure-min.css}" href="../../css/pure/pure-min.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{css/pure/grids-responsive-old-ie-min.css}" href="../../css/pure/grids-responsive-old-ie-min.css" />
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" th:href="@{css/pure/grids-responsive-min.css}" href="../../css/pure/grids-responsive-min.css" />
	<!--<![endif]-->
  	<link rel="stylesheet" th:href="@{css/layouts/side-menu.css}" href="../../css/layouts/side-menu.css" ></link>
	<link rel="stylesheet" th:href="@{css/skinPT.css}" href="../../css/skinPT.css" ></link>
	<link rel="stylesheet" th:href="@{css/style.css}" href="../../css/style.css" ></link>
			
	
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'></link>
	<!-- D3.js -->
	<script type="text/javascript" th:src="@{js/d3.v3.min.js}" src="../../js/d3.v3.min.js" charset="utf-8"></script>
	<link rel="stylesheet" th:href="@{css/graphs.css}" href="../../css/graphs.css" ></link>
    <!-- D3.js radar chart code -->
    <script type="text/javascript" th:src="@{js/RadarChart.js}" src="../../js/RadarChart.js"></script>
    <!-- CanvasJS -->
    <script type="text/javascript" th:src="@{js/canvasjs.min.js}" src="../../js/canvasjs.min.js"></script>
    <!-- jsPDF -->
	<script type="text/javascript" th:src="@{js/jspdf.min.js}" src="../../js/jspdf.min.js"></script>
     <!-- jQuery -->
    <script type="text/javascript" th:src="@{js/jquery-1.11.3.min.js}" src="../../js/jquery-1.11.3.min.js"></script>
     <!-- svgToPDF -->
    <script type="text/javascript" th:src="@{js/svgToPdf.js}" src="../../js/svgToPdf.js"></script>
     <!-- RGBColor (for svgToPdf) -->
    <script type="text/javascript" th:src="@{js/rgbcolor.js}" src="../../js/rgbcolor.js"></script>

	<script type="text/javascript" th:src="@{js/saveSvgAsPng.js}" src="../../js/saveSvgAsPng.js"></script>
</head>