<head th:fragment="headTag">
    <meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	
	<title>PersoonlijkheidstestHalewijn</title>
	
	<link rel="stylesheet" th:href="@{css/pure/pure-min.css}" href="../../css/pure/pure-min.css" ></link>
		<!--[if lte IE 8]>
	    <link rel="stylesheet" th:href="@{CSS/pure/grids-responsive-old-ie-min.css}" href="../../css/pure/grids-responsive-old-ie-min.css" ></link>
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" th:href="@{css/pure/grids-responsive-min.css}" href="../../css/pure/grids-responsive-min.css" ></link>
	<!--<![endif]-->
	 

	<link rel="stylesheet" th:href="@{css/beheer/side-menu.css}" href="../../css/layouts/side-menu.css" ></link>
	<link rel="stylesheet" th:href="@{css/skinPT.css}" href="../../css/skinPT.css" ></link>
	<link rel="stylesheet" th:href="@{css/beheer/style.css}" href="../../css/style.css" ></link>
	
	
</head>
