    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

	<div id="menu">
		<div class="pure-menu">
			<ul class="pure-menu-list">

				<div class="logo">&nbsp;</div>

				<li class="pure-menu-item"><a href="/adminPaneel" class="pure-menu-link">Home</a></li>
				<li class="pure-menu-item"><a href="useroverview" class="pure-menu-link">Gebruikersoverzicht</a></li>

				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Gebruikers beheren</a></li>
				<li class="pure-menu-item"><a href="managequestions" class="pure-menu-link">Vragen beheren</a></li>
				<li class="pure-menu-item"><a href="managetheorems" class="pure-menu-link">Stellingen beheren</a></li>
				<li class="pure-menu-item"><a href="editresulttexts" class="pure-menu-link">Resultaatteksten beheren</a></li>
				<li class="pure-menu-item"><a href="editanswervalues" class="pure-menu-link">Antwoordwaardes aanpassen</a></li>
				<li class="pure-menu-item"><a href="sendmessages" class="pure-menu-link">Berichten versturen</a></li>
			</ul>
		</div>
	</div> <!-- end menu -->