<!-- menubalk -->
	 <div class="custom-menu-wrapper">
		<div class="pure-menu custom-menu custom-menu-top">
			<div class="logo" th:style="'background-image: url(' + @{${FirstImage.imagePath}} + ');'" th:alt="${FirstImage.imageAlt}"></div>
			<!--<div th:src="@(/logo.jpg)" />-->
			<a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
		</div>
		<div class="menu pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked balkfill" id="tuckedMenu">
			<div class="custom-menu-screen"></div>
			<ul class="pure-menu-list menulist">
				<li class="pure-menu-item"><a href="/" class="pure-menu-link" th:text="${FirstButtonText.buttonText}"></a></li>
				<li class="pure-menu-item"><a href="questionnaire" class="pure-menu-link" th:text="${SecondButtonText.buttonText}"></a></li>
				<li th:if="${session.email != null}" class="pure-menu-item"><a href="myresults" class="pure-menu-link" th:text="${FourthButtonText.buttonText}"></a></li>
				<li th:if="${session.email == null}" class="pure-menu-item"><a href="register" class="pure-menu-link" th:text="${ThirdButtonText.buttonText}"></a></li>
				<li th:if="${session.admin == true}" class="pure-menu-item"><a href="adminPanel" class="pure-menu-link" th:text="${FifthButtonText.buttonText}"></a></li>
				<!-- Checks whether user is logged in or not. Based on this, either a "login" or a "logout" button will be shown. -->
				<li th:if="${session.email == null}" class="pure-menu-item"><a href="login" class="pure-menu-link" th:text="${SixthButtonText.buttonText}"></a></li>
				<!-- <li th:if="${session.username != null}" class="pure-menu-item"><a class="pure-menu-link" th:text="${session.username}"></a></li> -->
				<li th:if="${session.email != null}" class="pure-menu-item"><a href="logOut" class="pure-menu-link" th:text="${SeventhButtonText.buttonText}"></a></li>
			</ul>
		</div>
	</div>
	<div class="menupusher"></div>
	<script>
		(function (window, document) {
			document.getElementById('toggle').addEventListener('click', function () {
				document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
				document.getElementById('toggle').classList.toggle('x');
			});
		})(this, this.document);
	</script>
<!-- einde menubalk -->