/*******Home Pagina********/
	.indexBox1{
		color: #777;
		font-size: 18px;
		font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	}
	.indexBox2{
		color: #777;
		font-size: 18px;
		font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	}
	.indexBox3{
		color: #777;
		font-size: 18px;
		font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	}
	.splashBox{
		color: #FFFF00;
		font-size: 1.5em;
		font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	}
/*******Login Pagina********/
	.loginBox{
		
	}
/*******Registratie Pagina********/
	.registerBox{
		
	}
/*******Vragenlijst Pagina********/
	.questionaireBox{
		
	}
/*******Resultaat Pagina********/
	.resultBox{
		
	}
/*******Geschiedenis Pagina********/
	.myResultBox{
		
	}
/*******Over Ons Pagina********/
	.aboutUsBox{
		
	}
/*******Contact Pagina********/
	.contactBox{
		
	}
/*******Link Pagina********/
	.linkpageBox{
		
	}
/*******Registratie Pagina********/
	.registerBox{
		
	}
/*******error Pagina********/
	.errorBox{
		
	}

