/****************radargrafiek**********/
		.content .resultrow1 #radarGrafiek{
			
			background-size: contain;
			background-repeat:no-repeat;
			margin:0px; /* If you want no margin */
			padding:0px; /*if your want to padding */
			
		}
		    @media all and (-ms-high-contrast:none)
     {
	     #radarGrafiek { height:300px;} /* IE10 */
	     *::-ms-backdrop, #radarGrafiek { height:300px; } /* IE11 */
	     _:-ms-lang(x), #radargrafiek { height:300px; }
     }	
     	.content .resultrow1 #radarGrafiek .radarChart { height:100%;}
		.content .resultrow1 #radarGrafiek .legend {
				font-family: 'Raleway', sans-serif;
				fill: #333333;
			}
			
		.content .resultrow1 .radarGrafiek.tooltip {
				fill: #333333;
			}
			
		.content .resultrow1 #radarGrafiek svg {
				background:url(imgs/star.png);
				background-size: contain;
				background-repeat:no-repeat;
				background-position: center; 
				margin:0px; /* If you want no margin */
				padding:0px; /*if your want to padding */
				width:100%;
			}