/****************radarChart**********/
		.content .resultrow1 #radarChartContainer{
			
			background-size: contain;
			background-repeat:no-repeat;
			margin:0; /* If you want no margin */
			padding:0; /*if your want to padding */
			
		}
		 @media all and (-ms-high-contrast:none)
	     {
		     #radarGrafiek { 
		     	height:300px;
		     } /* IE10 */
		     *::-ms-backdrop, #radarChartContainer { 
		     	height:300px; 
		     } /* IE11 */
		     _:-ms-lang(x), #radarChartContainer { 
		     	height:300px; 
		     }
	     }	
     	.content .resultrow1 #radarChartContainer .radarChart { 
     		height:100%;
     	}
		.content .resultrow1 #radarChartContainer .legend {
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
		.label-8, .label-9, .label-1 {
			fill: red !important;
		}

		.label-2, .label-3, .label-4 {
			fill: green !important;
		}

		.label-5, .label-6, .label-7{
			fill: blue !important;
		}
			
		.content .resultrow1 .radarChartContainer .tooltip {
			fill: #333333;
		}
			
		.content .resultrow1 .radarChart{
			background:url("/imgs/star.png");
			background-size: contain;
			background-repeat:no-repeat;
			background-position: center;
			margin:0; /* If you want no margin */
			padding:0; /*if your want no padding */
			width:100%;
		}
		.content .resultrow1 #barChartCont .barChart{
			margin: 0 10px;
		}
		.content .resultrow1 #barChartContainer{
			height: 350px;
			width:90%;
		}
		@media all and (-ms-high-contrast:none)
	    {
		     #barChartContainer { 
		     	height:300px;
		     } /* IE10 */
		     *::-ms-backdrop, #barChartContainer { 
		     	height:300px; 
		     } /* IE11 */
		     _:-ms-lang(x), #barChartContainer {
				 height: 300px;
			 }
		}
		.content .resultrow1 #barChartCont .canvasjs-chart-credit {
				visibility: hidden !important;
		}