<!doctype html>
<html lang="en">
	<head th:replace="fragments/headTag :: headTag"> </head>
	<body>
		<div th:include="fragments/menu" th:remove="tag"></div>
		<div id="main"  class="pure-skin-PT">
			<div class="content myResultBox">
				<h2 class="content-subhead" >Wachtwoord veranderen</h2>
				<hr />
				<form class="registerForm" action="changePassword" method="POST">
					<input th:if="${attempt != 'mismatch'}" type="password" name="oldPassword" placeholder="Huidig wachtwoord" required="required" />
					<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="oldPassword" placeholder="Huidig wachtwoord" required="required" />
					<input th:if="${attempt != 'mismatch'}" type="password" name="newPassword" placeholder="Nieuw wachtwoord" th:attr="pattern=${'{' + minimumPasswordLength + '}'}" required="required" />
					<input th:if="${attempt != 'mismatch'}" type="password" name="newPassword2" placeholder="Nieuw wachtwoord herhalen" th:attr="pattern=${'{' + minimumPasswordLength + '}'}" required="required" />
					<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="newPassword" placeholder="Nieuw wachtwoord" th:attr="pattern=${'{' + minimumPasswordLength + '}'}" required="required" />
					<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="newPassword2" placeholder="Nieuw wachtwoord herhalen" th:attr="pattern=${'{' + minimumPasswordLength + '}'}" required="required" />
					<div th:switch="${attempt}">
						<p th:case="'mismatch'" class="errorMessage"> De ingevulde wachtwoorden komen niet overeen. Vul alstublieft tweemaal hetzelfde wachtwoord in. </p>
						<p th:case="'fail'" class="errorMessage"> Uw wachtwoord veranderen is momenteel niet mogelijk, probeer het later opnieuw. </p>
						<p th:case="'length'" class="errorMessage"> Een wachtwoord moet minimaal uit <span th:text="${minimumPasswordLength}"></span> karakters bestaan. Probeer het alstublieft opnieuw met een langer wachtwoord. </p>
						<p th:case="'*'" class=""> </p>
					</div>
					<input type="submit" class="pure-button" name="changePassword" value="Wachtwoord veranderen" />
				</form>
			</div>
		</div>
		<div th:include="fragments/footer" th:remove="tag"></div>
	</body>
</html>