<!doctype html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag"> </head>
<body>
    <div th:include="fragments/menu" th:remove="tag"></div>
		<div id="main"  class="pure-skin-PT">
			<div class="content myResultBox">
				<h2 class="content-subhead" >Wachtwoord veranderen</h2>
	            <hr />
	            
	            <form action="changePasswordDB" method="POST" name="" class="registerForm">
	            	<input th:if="${attempt != 'mismatch'}" type="password" name="oldPassword" placeholder="Huidig wachtwoord" required="required" />
	            	<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="oldPassword" placeholder="Huidig wachtwoord" required="required" />
	            	<br />
	            	<input th:if="${attempt != 'mismatch'}" type="password" name="newPassword" placeholder="Nieuwe wachtwoord" th:attr="minlength=${minimumPasswordLength}" required="required" />
					<input th:if="${attempt != 'mismatch'}" type="password" name="newPassword2" placeholder="Nieuwe wachtwoord herhalen" th:attr="minlength=${minimumPasswordLength}" required="required" />
					<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="newPassword" placeholder="Nieuwe wachtwoord" th:attr="minlength=${minimumPasswordLength}" required="required" />
					<input th:if="${attempt == 'mismatch'}" type="password" class="formError" name="newPassword2" placeholder="Nieuwe wachtwoord herhalen" th:attr="minlength=${minimumPasswordLength}" required="required" />
					<div th:switch="${attempt}">
						<p th:case="'mismatch'" class="errorMessage"> De ingevulde wachtwoorden komen niet overeen. Vul alstublieft tweemaal hetzelfde wachtwoord in. </p>
						<p th:case="'fail'" class="errorMessage"> Uw wachtwoord veranderen is momenteel niet mogelijk, probeer het later opnieuw. </p>
						<p th:case="'length'" class="errorMessage"> Een wachtwoord moet minimaal uit <span th:text="${minimumPasswordLength}"></span> karakters bestaan. Probeer het alstublieft opnieuw met een langer wachtwoord. </p>
						<p th:case="'*'" class=""> </p>
						
						<input id="registerSubmit" type="submit" class="pure-button" value="Wachtwoord veranderen" />
                    </div>
	            </form>
			</div>
		</div>
	
<div th:include="fragments/footer" th:remove="tag"></div>
</body>
</html>