<!doctype html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag"> </head>
<body>
	<div th:include="fragments/menu" th:remove="tag"></div>


	<div id="main"  class="pure-skin-PT">
	    <div th:include="fragments/splash" th:remove="tag"></div>
		
		<!-- contentwrapper ALS je gebruik maakt van de druppel -->
		<div class="content-wrapper">
		
			<!-- contents -->
			<div class="content pure-g">
				<div class="pure-u-1">
					<h2 class="content-subhead" th:text="${FirstContentBox.contentTitle}"></h2>
					<p th:utext="${FirstContentBox.contentText}"></p>
				</div>
			
			</div>
			<!-- voorbeeldblokken -->
			<div class="content pure-g">
				<div class="pure-u-1">
					<h2 class="content-subhead" th:text="${SecondContentBox.contentTitle}"></h2>
					<p th:utext="${SecondContentBox.contentText}"></p>
				</div>
			
			</div>
			<div class="content pure-g">
				<div class="pure-u-1">
					<h2 class="content-subhead" th:text="${ThirdContentBox.contentText}"></h2>
					<p th:utext="${ThirdContentBox.contentText}"></p>
				</div>
			</div>
			<!-- einde content blokken -->
			<div th:include="fragments/footer" th:remove="tag"></div>

		</div>
		<!-- einde contentwrapper(alleen voor druppel pages) -->
	</div>

</body>
</html>
