<!doctype html>
<html lang="en">

<head th:replace="fragments/headTag :: headTag"> </head>
<body>
<div th:include="fragments/menu" th:remove="tag"></div>
	<div id="main" class="pure-skin-PT">
        <div class="content">
            <h2 class="content-subhead"></h2>
			

		  <form class="loginForm ">
			<input type="text" class="zocial-dribbble" placeholder="Enter your email" />
			<input type="text" placeholder="Password" />
			<input type="submit" value="Login" class="pure-button" />

		  </form>
        </div><!-- einde content -->
	
				<div th:include="fragments/footer" th:remove="tag"></div>
	 </div><!-- end pure skin / main -->


</body>
</html>