<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments/headTag :: headTag"></head>
	<body>
		<div th:include="fragments/menu" th:remove="tag"></div>
		<div id="main" class="pure-skin-PT">
			<div class="content">
				<h2 class="content-subhead"></h2>
				<form class="loginForm" action="loginCheck" method="POST">
					<input th:if="${attempt == null}" type="email" class="zocial-dribbble" name="email" placeholder="E-mailadres" required="required" />
					<input th:if="${attempt == null}" type="password" name="password" placeholder="Wachtwoord" required="required" />
					<input th:if="${attempt != null}" type="email" class="zocial-dribbble formError" name="email" placeholder="E-mailadres" required="required" />
					<input th:if="${attempt != null}" type="password" class="formError" name="password" placeholder="Wachtwoord" required="required" />
					<div th:switch="${attempt}">
						<p th:case="'wrong'" class="errorMessage"> De ingevulde gebruikersnaam en/of wachtwoord is onjuist. </p>
						<p th:case="'empty'" class="errorMessage"> Voer alstublieft beide velden in. </p>
						<p th:case="'banned'" class="errorMessage"> Uw account is geblokkeerd.<br />Neem contact op met de beheerder. </p>
						<p th:case="'*'" class=""> </p>
					</div>
					<input type="submit" class="pure-button" name="login" value="Inloggen" />
				</form>
			</div><!-- einde content -->
			<div th:include="fragments/footer" th:remove="tag"></div>
		</div><!-- end pure skin / main -->
	</body>
</html>