<!doctype html>
<html lang="en">
<head th:replace="fragments/headTag-Admin :: headTag"> </head>
<body>
	<div th:include="fragments/header-admin" th:remove="tag"></div>
	<div id="layout">
	<div th:include="fragments/menu-admin" th:remove="tag"></div>
		<div id="main"  class="pure-skin-PT">
			<div class="content">
				<h2 class="content-subhead">Stellingen beheren</h2>
				<a href="addTheorem" class="pure-button pure-button-primary addButton">Toevoegen</a>
				<table class="pure-table pure-table-bordered tableManageTheorems">
					<thead>
						<tr>
							<th  >id</th>
							<th>Stelling</th>
							<th>Gewicht</th>
							<th>Persoonlijkheidstype</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i : ${theorems}">
							<form action="editTheorem" method="POST">
								<td th:text="${i.theoremID}"></td>
								<input type="hidden" name="number" th:value="${i.theoremID}"/>
								<td th:text="${i.text}"></td>
								<td th:text="${i.weight}"></td>
								<td th:text="${i.personalityType.name}"></td>
								<td><input type="submit" class="pure-button tableEditButton" name="aanpassen" value="Aanpassen"/></td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<div th:include="fragments/footer-admin" th:remove="tag"></div>
</body>
</html>
