<!doctype html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag"> </head>
<body>
    <div th:include="fragments/menu" th:remove="tag"></div>
		<div id="main"  class="pure-skin-PT">
			<div class="content myResultBox">
                        <a href="changeEmail" class="pure-button changeButton">E-mailadres wijzigen</a>
                        <a href="changePassword" class="pure-button changeButton">Wachtwoord wijzigen</a>
				<h2 class="content-subhead" th:text="${NinthContentBox.contentTitle}"></h2>
	            <p th:text="${NinthContentBox.contentText}"></p>
	            <hr />
				<table class="pure-table pure-table-bordered tableHistory">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Persoonlijkheidstype</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i : ${userResults}">
							<form action="showResult" method="POST">
								<td th:text="${i.getFormattedDate()}"></td>
								<input type="hidden" name="number" th:value="${i.getId()}"/>
								<td th:text="${i.primaryType.name}">type</td>
								<td><input type="submit" class="pure-button watchButton" name="aanpassen" th:value="${TwelfthButtonText.buttonText}"/></td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
<div th:include="fragments/footer" th:remove="tag"></div>
</body>
</html>