<!doctype html>
<html>
	<head th:replace="fragments/headTag :: headTag"></head>
	<body>
		<div id="layout">
			<div th:include="fragments/menu" th:remove="tag"></div>
			<div id="main"  class="pure-skin-PT">
				<div class="content">
					<h2 class="content-subhead">Mijn resultaten</h2><hr />
					<table class="pure-table pure-table-bordered tableManageTheorems">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Ontkenning score</th>
								<th>Herkenning score</th>
								<th>Ontwikkeling score</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="i : ${userResults}">
								<form action="showResult" method="POST">
									<input type="hidden" name="number" th:value="${i.getId()}" />
									<td th:text="${i.date}"></td>
                                    <td th:text="${i.scoreDenial}"></td>
									<td th:text="${i.scoreRecognition}"></td>
                                    <td th:text="${i.scoreDevelopment}"></td>
									<td><input type="submit" class="pure-button tableEditButton" value="Bekijken" /></td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:include="fragments/footer" th:remove="tag"></div>
	</body>
</html>